@import url('https://fonts.googleapis.com/css?family=Karla:400,700&display=swap');


// Miscellaneous
$serif: 'Caslon', 'Times New Roman', serif;
$sans: 'Karla', 'Helvetica Neue', sans-serif;
$green: #B6DAB4;
html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
li,
p,
pre,
blockquote,
figure,
hr {
  margin: 0;
  padding: 0;
}

input,
textarea,
select,
button {
	color: inherit;
	font: inherit;
	letter-spacing: inherit;
}

h1,
h2,
h3,
h4 {
  font-weight: 400;
}

a {
  color: inherit;
}

body {
  font-family: $sans;
  font-size: 18px;
}

.green{
  color: green;
}

.red{
  color: red;
}

// Header

.app-header {
  display: flex;
  position: sticky;
  position: -webkit-sticky;
  position: -moz-sticky;
  position: -ms-sticky;
  position: -o-sticky;
  top: 0;
  justify-content: space-between;
  padding: 10px 25px;
  border-bottom: 1px solid;
  font-family: $sans;
  text-transform: uppercase;
  letter-spacing: -.025em;
  align-items: center;
  background-color: $green;
  h1 {
    // this styling is intended for mobile devices
    // aka "mobile first"
    font-size: 1em;
    // use media queries for larger devices / screens
    @media (min-width: 768px) {
      font-size: 1.5em;
    }
  }
  a {
    text-decoration: none;
  }
  .header-link:last-of-type {
    padding-left: 5px;

    @media (min-width: 768px) {
      padding-left: 15px;
    }

  }
  .logged-in-controls {
    display: flex;
  }
}


// Main

.main-content {
  padding: 15px;

  @media (min-width: 768px) {
    padding: 25px;
  }


  // Registration Route
  .tagline {
    font-size: 2em;
    font-family: $sans;
    letter-spacing: -.025em;
  }
  .sub-tagline,
  .sign-up,
  .log-in {
    padding: 1em 0;
  }
  .sign-up,
  .log-in {
    font-weight: 600;
    border-bottom: 1px solid;
  }
  #registration-box,
  .LoginForm {
    //
    .input-row,
    fieldset {
      img {
        vertical-align: middle;
        padding-right: 15px;
        max-width: 2.5em;
        width: 100%;
      }
      padding: 10px 0;
      border: 0;
      border-bottom: 1px solid;
      margin: 0;


    }
    label {
      padding-right: 25px;
    }
    input {
      padding: 10px;
      border: 1px solid;
    }
    button {
      display: block;
      background-color: $green;
      padding: 15px;
      width: 100%;
      border: 1px solid;
      text-transform: uppercase;
      margin-top: 15px;
      margin-bottom: 5px;

      &:hover {
        cursor: pointer;
      }
    }
  }

  // Login Page


  // Dashboard
  .dashboard{
    margin: auto;
    width: 95%;
    font-family: $serif;

    h2{
      text-align: center;
      margin: 15px auto;
      font-size: 30px;
      font-family: $sans;
    }

    .bar{
      height: 40px;
      width: 100%;
      font-family: $sans;

      .score{
        display: inline-block;
        font-size: 20px;
        margin: 7px 0px;
      }

      .start{
        top:0;
        display: inline-block;
        border: none;
        padding: 7px;
        text-decoration: none;
        background: rgb(216, 216, 216);
        font-size: 18px;
        cursor: pointer;
        text-align: center;
        transition: background 250ms ease-in-out,
                    transform 150ms ease;
        -webkit-appearance: none;
        -moz-appearance: none;
      }
      .start:hover,
      .start:focus {
        background: $green;
      }

      .start:focus {
        outline: 1px solid #fff;
        outline-offset: -4px;
      }

      .start:active {
        transform: scale(0.99);
      }
    }

    @media screen and (max-width: 490px) {

      .bar{
        height: 100px;
        text-align: center;
      }

      .score{
        display: inline-block;
        margin: auto;
      }

      .start{
        float: none;
        display: inline-block;
        margin: 15px auto;
        font-size: 10px;
      }
    }

    @media screen and (min-width: 490px) {

      .start{
        float: right;
      }
    }

    h3{
      font-size: 24px;
      margin: 15px auto;
      text-align: center;
      font-family: $sans;
    }

    ul{
      text-align: center;
      margin: 15px auto;
      display: flex;
      flex-wrap: wrap;
      border: 2px solid black;
      padding: 5px;

      li{
        list-style: none;
        flex: 30%;
        margin: 2%;
        line-height: 1.75rem;

        .word-list-item{
          background: $green;
          padding: 5px;

          h4{
            font-weight: bold;
          }
        }

        h3{
          font-size: 20px;
          margin: 5px auto;
          font-family: $sans;
        }

        p{
          font-size: 16px;
        }
      }
      @media screen and (max-width: 490px) {
        li{
          flex: 100%;
        }
      }
    }
  }

  @media screen and (max-width: 490px) {
    .dashboard{
      width: 95%;
    }
  }

  @media screen and (min-width: 1000px) {
    .dashboard{
      width: 75%;
    }
  }


  // Learning Route

  .LearningRoute{
    width: 90%;
    border: 1px black solid;
    text-align: center;
    margin: auto;

    .count{
      flex: 30%;
      // background: lightgrey;
      border: 1px black solid;
      margin: 15px 4%;
      padding: 5px;
    }

    .bold{
      font-weight: bold;
    }

    h2, h3{
      line-height: 30px;
      margin: 10px auto;
    }

    h2{
      margin-top: 50px;
    }

    .flexbox{
      display: flex;
    }

    .DisplayScore{

      h2{
        margin: 25px auto;
      }

      p {
        width: 100%;
        background: lightgrey;
        height: 35px;
        padding-top: 5px;
        margin: 0px;
        border-bottom: 1px solid black;
        top: 0;
      }

    }

    .DisplayFeedback{
      margin: 25px auto;

      p{
        margin: 25px auto;
      }

      button{
        top:0;
        display: inline-block;
        border: none;
        padding: 7px;
        text-decoration: none;
        background: $green;
        font-size: 18px;
        cursor: pointer;
        text-align: center;
        transition: background 250ms ease-in-out,
                    transform 150ms ease;
        -webkit-appearance: none;
        -moz-appearance: none;
      }
      button:hover,
      button:focus {
        background: rgb(216, 216, 216);
      }

      button:focus {
        outline: 1px solid #fff;
        outline-offset: -4px;
      }

      button:active {
        transform: scale(0.99);
      }
    }

    .container{
      width: 80%;
      margin: auto;
    }

    #learn-guess-form{
      background: $green;
      padding: 20px 10px;
      margin: 25px auto;
      border: solid black 1px;

      button{
        top:0;
        display: inline-block;
        border: none;
        padding: 7px;
        text-decoration: none;
        background: white;
        font-size: 18px;
        cursor: pointer;
        text-align: center;
        transition: background 250ms ease-in-out,
                    transform 150ms ease;
        -webkit-appearance: none;
        -moz-appearance: none;
      }
      button:hover,
      button:focus {
        background: rgb(216, 216, 216);
      }

      button:focus {
        outline: 1px solid #fff;
        outline-offset: -4px;
      }

      button:active {
        transform: scale(0.99);
      }

      input{
        width: 90%;
        margin: 15px auto;
      }
    }
  }

  @media screen and (min-width: 1000px){
    .LearningRoute{
      width: 75%;
    }

    #learn-guess-form{
      width: 75%;
      margin: auto;
    }
  }

}
