.dashboard{
  width: 80%;
  background: lightgrey;
  margin: 75px auto 25px auto;
  padding: 20px;
}

.language-header, .words-header{
  text-align: center;
  margin: 15px;
}

.score{
  display: inline-block;
  margin-left: 10px;
  font-size: 18px;
}

.start{
  float: right;
  margin: 12.5px 10px;
}

.practice-words{
  background: white;
  padding: 15px;
  margin: 15px auto;
}

ul{
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

li{
  margin: 1.5%;
  background: rgb(228, 228, 228);
  height: 100px;
  line-height: 12.5px;
}

.bold{
  font-weight: bold;
  text-align: center;
  font-size: 16px;
}

.practice-words p{
  padding-left: 5px;
  font-size: 14px;
  text-align: center;
}

.start{
  margin: 10px auto;
  display: block;
  border: none;
  width: 8rem;
  padding: 7.5px;
  text-decoration: none;
  background: rgb(68, 68, 68);
  color: white;
  font-size: .85rem;
  cursor: pointer;
  text-align: center;
  transition: background 250ms ease-in-out,
              transform 150ms ease;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.start:hover,
.start:focus{
  background: rgb(136, 136, 136);
}

.start:focus{
  outline: 1px solid #fff;
  outline-offset: -4px;
}

.start:active{
  transform: scale(0.99);
}

.green{
  color: green;
}

.red{
  color: red;
}

@media screen and (max-width: 500px){
  li{
    flex: 100%;
  }

  .bar{
    height: 100px;
    text-align: center;
  }
  .start{
    float: none;
    margin: auto;
  }

  .score{
    margin: 10px auto;
  }
}

@media screen and (min-width: 500px){
  li{
    flex: 45%;
  }
}

@media screen and (min-width: 750px){
  li{
    margin: 1.5%;
    background: rgb(228, 228, 228);
    flex: 30%;
    height: 100px;
    line-height: 12.5px;
  }
}
