header{
  background: black;
  height: 50px;
  width: 100%;
  position: fixed;
  top: 0;
  margin: 0px;
  padding: 0px;
}

.main-link{
  text-decoration:none;
  color: white;
  position: absolute;
  top: 5px;
  left: 10px;
}

.header-link{
  float: right;
  text-decoration:none;
  color: white;
  margin: auto 10px;
}

.header-link:hover{
  text-decoration: underline;
}